<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.25.0/styles.min.css"
      />
  </head>
  <body>
    <h2>Products</h2>
    <br>
    <h1>Orders</h1>
    <div><%= @order_count %> </div>

  </body>
</html>
